.navbar {
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  transition: all .9s ease-in;
  display: none;
  height: 60px;
  text-align: center;

  b {
    font-size: 2rem;
    color: lightblue;
  }
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202c72;
  display: flex;
  z-index: 10;

  @media (max-width: 414px) { 
    display: none;
  }
}

.logo img {
  width: 50px;
}